/*=============================
=            $Type            =
=============================*/

$font-family: 'Open Sans', sans-serif;;
$header-font-family: 'audimatbold';

/*===============================
=            $Colors            =
===============================*/

// Color Scheme
$b-color              		: tomato ;
$b-highlight 				: tint($b-color, 30%) ;
$b-dim 						: shade($b-color, 20%) ;

$s-color 					: slategray;
$s-color_tint 				: tint($s-color, 50%);
$s-color_shade 				: shade($s-color, 40%);

$body-color    				: snow;

// Logo
$logo-color     			: $s-color_tint;

// Border Colors
$border-color    			: tint($s-color, 70%);

// Text Highlight
$highlight-text-color       : tint($b-color, 80%);;
$highlight-color            : $b-color;

// Text
$body-copy-color: $gray-dark;
$heading-color: $gray-darker;

// Links
$link-color		    		: $blue ;
$link-accent				: tint($link-color, 30%) ;
$link-hover 				: darken($link-color, 10) ;
$link-visited   			: $link-color ;
$link-focus					: darken($link-visited, 10) ;


;/*================================
=            $Spacing            =
================================*/

// Section
$section-spacing-px: ($base-spacing-unit-px * 2);
$section-spacing: ($base-spacing-unit * 2);


/*=============================
=            $Type            =
=============================*/

$line-height: 1.6;
$font-size: 114; // percentage value (16 * 112.5% = 18px)


/*==============================
=            $Forms            =
==============================*/

$form-color: rgb(255, 108, 82);
$form-border-color: darken($form-color, 3);
$place-holder-text:  $white;


;/*================================
=            $Buttons            =
================================*/

$primaryBtnBckgrnd          : $gray-lighter;
$btnBorderStyle				: solid;
$btnBorderWidth				: .1rem;



/*=======================================
=            $Magnefic Popup            =
=======================================*/

$overlay-color:                   #0b0b0b !default;
$overlay-opacity:                 0.8 !default;
$shadow:                          0 0 8px rgba(0, 0, 0, 0.6) !default; // shadow on image or iframe
$popup-padding-left:              8px !default; // Padding from left and from right side
$popup-padding-left-mobile:       6px !default; // Same as above, but is applied when width of window is less than 800px

$z-index-base:                    1040 !default; // Base z-index of popup
$include-arrows:                  true !default; // include styles for nav arrows
$controls-opacity:                0.65 !default;
$controls-color:                  #FFF !default;
$inner-close-icon-color:          #333 !default;
$controls-text-color:             #CCC !default; // Color of preloader and "1 of X" indicator
$controls-text-color-hover:       #FFF !default;
$IE7support:                      true !default; // Very basic IE7 support

// Iframe-type options
$include-iframe-type:             false !default;
$iframe-padding-top:              40px !default;
$iframe-background:               #000 !default;
$iframe-max-width:                900px !default;
$iframe-ratio:                    9/16 !default;

// Image-type options
$include-image-type:              true !default;
$image-background:                #444 !default;
$image-padding-top:               40px !default;
$image-padding-bottom:            40px !default;
$include-mobile-layout-for-image: true !default; // Removes paddings from top and bottom

// Image caption options
$caption-title-color:             #F3F3F3 !default;
$caption-subtitle-color:          #BDBDBD !default;

// A11y
$use-visuallyhidden:              false !default; // Hide content from browsers, but make it available for screen readers

