<div class="site-header">
	<div class="site-header_decoration"></div>
	<div class="row">
		<div class="columns logo">
           <a href="/index">
                <div class="outer"></div>
                <div class="inner"></div>
                <div class="triangle"></div>
            </a>
    	</div>
    	<div class="columns nav-wrap">
	    	<nav>
		    	<ul >
			    	<li {% if mixture.url == "portfolio" %}class="current"{% endif %}><a href="/portfolio">Portfolio</a></li>
			    	<li><a href="#" class="button">Resume</a></li>
			    	<li><a href="#" class="button">Contact</a></li>
		    	</ul>
	    	</nav>
  		</div>
	</div>
</div>