<div class="site-header">
	<div class="site-header_decoration"></div>
	<div class="row">
		<div class="columns logo">
           <a href="/index">
                <div class="outer"></div>
                <div class="inner"></div>
                <div class="triangle"></div>
            </a>
    	</div>
    	<div class="columns nav-wrap">
	    	<nav>
		    	<ul >
			    	<li><a {% if mixture.url == "portfolio" %}class="current"{% endif %} href="/portfolio">Portfolio</a></li>
			    	<li><a href="#primary-footer" class="button">Contact</a></li>
		    	</ul>
	    	</nav>
  		</div>
	</div>
</div>