/*===============================
=            $Header            =
===============================*/

$site-header-small-height-px: ($base-spacing-unit-px * 4);
$site-header-small-height: ($base-spacing-unit * 4);

$site-header-large-height-px: ($base-spacing-unit-px * 2.5);
$site-header-large-height: ($base-spacing-unit * 2.5);

.site-header
{
	@extend %fixed-header;
	@include box-shadow(0px 0px .5rem 0px transparentize($s-color_tint, .5), 0px 0 3px 0px rgba(0, 0, 0, 0.1));
	height: $site-header-small-height-px;
	height: $site-header-small-height;
	border-bottom: 1px solid $border-color;
	background: $white;

	@include mq(small-and-up)
	{
		height: $site-header-large-height-px;
		height: $site-header-large-height;
	}

	.site-header_decoration
	{
		width: 100%;
		height: $base-spacing-unit-px * .2;
		height: $base-spacing-unit * .2;
		background: $b-color;
	}

/*==========  $LOGO  ==========*/

	.logo
	{
		@include mq(small-and-up)
	    {
			width: 10%;
	    }

		a
		{
			width: 40px;
			height: 40px;
			display: block;
			margin-top: $base-spacing-unit-px * .4;
			margin-top: $base-spacing-unit * .4;

			@include mq(small-and-down)
		    {
		    	margin-right: auto;
		    	margin-left: auto;
		    	width: $base-spacing-unit-px;
		    	width: $base-spacing-unit;
		    }
		}

		.logo-wrapper
		{
			position: relative;
		}

		.outer, .inner, .triangle
		{
			@extend %default-trans;
			position: absolute;
			border: 1px solid $logo-color;
		}

		.inner
		{
			border-color: tint($logo-color, 60%);
		}

		.outer
		{
			border-color: tint($logo-color, 80%);
		}

		.outer
		{
			width: 40px;
			height: 40px;
		}

		.inner
		{
			@include transition-delay(.5s);
			@extend %circle;
			margin: 4px 2px 2px 4px;
			width: 32px;
			height: 32px;
		}

		.triangle
		{
			margin-top: 10px;
			margin-left: 11px;
			width: 0px;
			height: 0px;
			border-width: 0 9px 17px 9px;
			border-style: solid;
			border-color: transparent transparent $logo-color transparent;
		}

		&:hover, &:active, &:focus
		{
			.triangle
			{
				border-color: transparent transparent $b-color transparent;
			}

			.inner, .outer
			{
				border-color: transparent;
			}
		}
	}

	.nav-wrap
	{
		margin-top: $base-spacing-unit-px * .5;
		margin-top: $base-spacing-unit * .5;
		text-align: center;

		@include mq(small-and-up)
	    {
			margin-top: $base-spacing-unit-px * .1;
			margin-top: $base-spacing-unit * .1;
			width: 90%;
			text-align: inherit;
	    }

		nav
		{
			@extend %nav;

			@include mq(small-and-up)
	    	{
				float: right;
				padding-top: $base-spacing-unit-px * .5;
				padding-top: $base-spacing-unit * .5 ;
			}

			li > a
			{
				display: block;
				color: $s-color_tint;
				@include border-radius($default-border-radius);
				text-decoration: none;
				margin-left: $base-spacing-unit-px * .4;
				margin-left: $base-spacing-unit * .4;

				@include mq(small-and-up)
				{
					border: 1px solid $border-color;
					padding: ($base-spacing-unit * .1) ($base-spacing-unit * .5 ) ($base-spacing-unit * .1) ($base-spacing-unit * .5 );
				}

				&:hover
				{
					@include single-box-shadow($black-vhigh, 0, 3px, $default-box-shadow-blur, $default-box-shadow-spread, $default-box-shadow-inset);
					@include background(linear-gradient(top, $white, shade($white, 1%)));
					color: $orange;
				}


				&:active,
				&.current
				{
					@include single-box-shadow(none);
					@include background(linear-gradient(bottom, $white, shade($white, 1%)));
					color: $orange;
					border-color: transparentize($border-color, .5);
				}
			}
		}
	}
}


