{% block title %}Portfolio{% endblock %}
{% block content %}

	{% include "hero--portfolio" %}
	<div class="row">
		<h2>Portfolio</h2>
		<p>Some examples of my work.</p>

		<h3>Design</h3>
		<article>
			<h4>Project 1</h4>
			<figure class="large-12 columns">
				<img src="http://placehold.it/1000x25 0&amp;text=[ Ex 1 ]">
			</figure>
		</article>
		<article>
			<h4>Project 2</h4>
			<figure class="large-12 columns">
				<img src="http://placehold.it/1000x25 0&amp;text=[ Ex 1 ]">
			</figure>
		</article>
	</div>
{% endblock %}
